---
name: Build and test
on:
  push:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: "20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Run Lint
        run: yarn lint