---
name: Build and test
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '20'

      - name: Install dependencies
        run: yarn install

      - name: Load .env file
        run: |
          echo "LINT_VERSION=$(grep LINT_VERSION .env | cut -d '=' -f2)" >> $GITHUB_ENV

      - name: Run lint
        run: yarn eslint --version ${{ env.LINT_VERSION }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          tags: matteodemoor/webapp:latest
          push: true
